<button (click)="clearSelection()" >Clear Selection</button>
<ag-grid-angular
  class="ag-theme-alpine"
  style="height: 500px; width: 500px;"
  [rowData]="rowData$ | async"
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (cellClicked)="onCellClicked($event)"
>
</ag-grid-angular>

<!-- <ag-grid-angular
  class="ag-grid-alpine"
  style="height: 500px; width: 500px;"
  [rowData]="rowData"
  [columnDefs]="colDefs"
>
</ag-grid-angular> -->
